.places {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
  margin: 0 auto;
  max-width: 984px;
  padding: 0 48px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 73px;
    max-width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    gap: 50px;
    max-width: 320px;
    padding: 0;
  }
}
