.intro__text {
  margin: 0 0 33px;
  max-width: 690px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 685px) {
  .intro__text {
    margin: 0 0 34px;
    max-width: 100%;
  }
}
