.lead__image-container {
  margin: 0 auto;
  padding: 0 48px;
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .lead__image-container {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image-container {
    padding: 0;
    max-width: 768px;
  }
}

@media screen and (max-width: 685px) {
  .lead__image-container {
    max-width: 320px;
  }
}
