.lead__subtitle {
  margin: 0 auto 72px;
  max-width: 640px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 0 auto 40px;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}
