.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 92px auto;
  max-width: 1184px;
  height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition-duration: 0.5s;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px auto 88px;
    max-width: 768px;
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px auto 64px;
    max-width: 320px;
    height: 200px;
  }
}
