/* root */
@import url(../blocks/root/root.css);

/* page */
@import url(../blocks/page/page.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-menu/header__lang-menu.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);

/* content */

/* lead */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image-container/lead__image-container.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/* intro */

/* photo-grid */

/* places */

/* place */

/* cover */

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
