.cover__title {
  margin: 0 auto;
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width: 685px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
