.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 48px 24px;
  transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 685px) {
  .footer {
    padding: 0 0 24px 16px;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    text-align: start;
  }
}
