.place__url-heading {
  margin: 0;
  padding-bottom: 12px;
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 12px;
  }
}
