.intro__title {
  margin: 0 0 40px;
  max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 35px;
  }
}
